
<%= form_with model: @company,  local:true  do |form| %>

<% if @company.errors.any? %>
  
      <h2>
        <%= pluralize(@company.errors.count, "error") %> prohibited  this company from being saved:
      </h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    
  <% end %>

<p>
<%= form.label :name %>
<%= form.text_field :name %>
<br>
<%= form.label :headoffice %>
<%= form.text_field :headoffice %>
<br>
<%= form.label :contact %>
<%= form.text_field :contact %>
<br>
<%= form.submit  %>

</p>
<% end %>

