
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Head Office:</strong>
  <%= @company.headoffice %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @company.contact %>
</p>


<h2>Product List</h2>
<table>
  <tr>
    <th><strong>Name:</strong></th>
    <th><strong>Type:</strong></th>
  </tr>

  <% @company.products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.ptype %></td>
    </tr>
  <% end %>

</table>



<h2>Add Products</h2>
<% if @product and @product.errors.any? # || @product.try(:errors)).present? %>

  <h2>
    <%= pluralize(@product.errors.count, "error") %> prohibited  this product from being saved:
  </h2>
  <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

<% end %>
<%= form_with(model: [ @company, @company.products.build], local: true) do |form| %>


  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :type %><br>
    <%= form.text_field :ptype %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
